body {

margin: 0;

background: #111;

color: #fff;

font-family: Arial;

}

.container {

max-width: 900px;

margin: auto;

padding: 20px;

}

.song {

display: flex;

align-items: center;

background: #222;

padding: 10px;

margin: 10px 0;

border-radius: 6px;

cursor: pointer;

}

.song img {

width: 70px;

height: 70px;

border-radius: 6px;

margin-right: 15px;

}

.player {

margin-top: 20px;

padding: 20px;

background: #222;

border-radius: 8px;

}

.controls button {

padding: 8px 15px;

margin: 5px;

}
